[flake8]
exclude =
    **/migrations/*,
    .git,
    .mypy_cache,
    __pycache__,
    venv,
    .venv
filename = *.py
accept-encodings = utf-8
inline-quotes = single
max-complexity = 12
max-linenumber = 500
max-line-length = 119
multiline-quotes = double